body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
  color: #005c99;
}

header h3{
  font-weight:500;
  margin: 0;
  padding: 5px 5px;
  color: #646464;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.btn.links {
  border-radius: 2px;
  border: 0px;
  color: #006BB2;
  text-shadow: none;
  background-color: white;
}

.btn.links:hover {
  color: #006BB2;
  background-color: #EEB422;
}

/* body */
*{
    box-sizing: border-box;
    padding:0;
}

.headline{
  box-sizing: border-box;
  position: relative;
  top: 5px;
  width: 100%;
}

#about{
    background-color: #005c99;
    border-radius: 5px;
    height: auto;
    margin-top: 2%;
    min-height: 150px;
    vertical-align: middle
}

#about #wvu_logo{
  display:block;
  margin-left: 25px;
  position: absolute;
  top: 11px;
}

#about h3{
  display: block;
  margin-left: 175px;
  margin-right: 25px;
  position: relative;
  top: 34px;
  font-size: 60px;
  font-weight: 700;
  color: white;
}

.aboutme{ 
  margin-top: 2%;
  margin-bottom: relative;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    height: 50%;
    min-height: 150px;
    vertical-align: middle;
}

.aboutme p{
  float: left;
    margin-top: 2%;
    text-align: left;
    width: 50%;
    height: 50%;
    font-size: 200%;
    color:#646464;
    font-weight: 400;
    
}

#photo{
    float: right;
    margin-top: 2%;
    width: 50%;
      height: 50%;
    display: block;
    float: right;
   
}

.work{ 
  margin-top: 2%;
  margin-bottom: relative;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    height: 50%;
    min-height: 150px;
    vertical-align: middle;
}

#headline{
  float: right;
    margin-top: 2%;
    text-align: left;
    width: 50%;
    height: auto;
    font-size: 200%;
    color:#646464;
    font-weight: 400;
}

#text{
    float: right;
    margin-top: 2%;
    text-align: left;
    width: 50%;
    height: auto;
    font-size: 200%;
    color:#646464;
    font-weight: 400;
}

#internphoto{
    float: left;
    margin-top: 2%;
    width: 50%;
      height: 50%;
    display: block;
    float: right;
   
}


footer {
  padding: 70% 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}
